<div class="navbar sticky-top navbar-expand-sm navbar-lewagon">
  <div class="container-fluid px-5">
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag "carbnb.png" %>
    <% end %>
    <ul class="navbar-nav flex-grow-1">
      <% if user_signed_in? %>
        <div class="navbar-link-items">
          <li class="nav-item">
            <%= link_to "Find my dream car", offers_path, class: "fw-semibold nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Rent my car", new_offer_path, class: "fw-semibold nav-link" %>
          </li>
        </div>
        <div>
          <li class="nav-item dropdown">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="100,200">
              <%= cl_image_tag(current_user.photo.attached? ? current_user.photo.key : "default_pfp", class: "avatar-large", crop: :fill) %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "My Dashboard", dashboard_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %></li>
            </ul>
          </li>
        </div>
      <% else %>
        <div class="navbar-link-items justify-content-end">
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
