<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid px-5">
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag "https://media.istockphoto.com/id/184112134/fr/photo/camion-1948-ford-f-1-1948.jpg?s=1024x1024&w=is&k=20&c=UI3kF56DTcUhC7Fz_2_ZkaPHJDIWbvR6m0inH8P7CuQ=" %>
    <% end %>
    <ul class="navbar-nav flex-grow-1">
      <% if user_signed_in? %>
        <div class="navbar-link-items">
          <li class="nav-item">
            <%= link_to "Find my dream car", offers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Rent my car", new_offer_path, class: "nav-link" %>
          </li>
        </div>
        <div>
          <li class="nav-item dropdown">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="100,200">
              <%= image_tag "https://images.motorsportstats.com/large/driverProfilePicture/driverProfilePicture-8d5486d9-c622-4961-9f6e-9bb5b3ed14e1.jpg", class: "avatar-large" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "My Dashboard", "#", class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %></li>
            </ul>
          </li>
        </div>
      <% else %>
        <div class="navbar-link-items justify-content-end">
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
