<div class=logo> <%= link_to image_tag("carbnb.png", class: "img-responsive center-block", height: "80px") %></div>

<div class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "img_1.jpg", class:"carousel-img d-block w-100", height: 600%>
    </div>

    <div class="carousel-item">
      <%= image_tag "img_2.jpg", class:"carousel-img d-block w-100", height: 600%>
    </div>

    <div class="carousel-item">
      <%= image_tag "img_3.jpg", class:"carousel-img d-block w-100", height: 600%>
    </div>
  </div>
  </div>

  <div class="d-grid gap-2 col-2 mx-auto my-4">
    <%= link_to "Discover our cars", offers_path, class:"button", type:"button"  %>
  </div>
</div>
