<div class="container w-75">
  <div class="row">
    <div class="car-cards">
      <% @offers.each do |offer| %>
        <%= link_to offer_path(offer), class: "text-decoration-none text-dark" do %>
          <div class="card-trip">
            <div class="image-container" >
              <img src="https://images.unsplash.com/photo-1587750059638-e7e8c43b99fc?q=80&w=3538&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" height="250" alt="" class="object-fit-cover">
            </div>
              <div class="card-body">
                <h5 class="card-title justify-content"><%= offer.brand %> - <%= offer.model %></h5>
                <div class="card-info d-flex justify-content-between">
                  <p class="card-price">$<%= offer.price %>/day</p>
                  <% if offer.reviews.count > 0 %>
                    <div>
                      <i class="fa-solid fa-star"></i> <%= offer.reviews.average(:rating) %>
                    </div>
                  <% end %>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
