<div class="container-75">
  <h1>Post my car to rent</h1>
  <br>
  <div class="form-wrapper">
    <%= simple_form_for @offer do |f| %>
      <div class="d-flex gap-4">
        <%= f.input :brand, label: "Brand", wrapper_html: { class: "flex-grow-1" } %>
        <%= f.input :model, label: "Model", wrapper_html: { class: "flex-grow-1" } %>
      </div>
      <div class="d-flex gap-4">
        <%= f.input :year, label: "Year", wrapper_html: { class: "flex-grow-1" } %>
        <%= f.input :km, label: "Km", wrapper_html: { class: "flex-grow-1" } %>
      </div>
      <%= f.input :price, label: "Price in $"%>
      <%= f.input :address,
        input_html: {data: {address_autocomplete_target: "address"},class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
      <%= f.input :description, as: :text, label: "Description"%>
      <%= f.input :availability_start, as: :date, label: "availability start"%>
      <%= f.input :availability_end, as: :date, label: "availability end"%>
      <%= f.input :photos, as: :file, label: "Pictures of the car", input_html: { multiple: true } %>
      <%= f.submit "Post my car to rent", class: "button" %>
    <% end %>
  </div>
</div>
