<div class="container-75">
  <div class="row gy-5">
    <div class="col-12">
      <h2><%= @offer.brand %> - <%= @offer.model %></h2>
      <% if @offer.photos.attached? %>
        <div class="offer-photos-container-<%= @offer.photos.count < 3 ? '1' : '3' %>">
          <% @offer.photos.limit(3).each_with_index do |photo, index| %>
            <div class="offer-photo <%= index === 0 ? "main" : "" %>" >
              <%= cl_image_tag(photo.key, crop: :fill) %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class='offer-photos-container-1'>
          <%= cl_image_tag("default_photo", crop: :fill) %>
        </div>
      <% end %>
    </div>
    <div class="col-8">
      <div class="py-4 border-top">
        <% if @offer.reviews.count > 0 %>
          <div class="pb-3 border-bottom">
            <i class="fa-solid fa-star"></i> <%= @offer.reviews.average(:rating) %>
          </div>
        <% end %>
        <div class="d-flex pt-3 gap-4 ">
          <%= cl_image_tag(@offer.user.photo.attached? ? @offer.user.photo.key : "default_pfp", class: "avatar-large", crop: :fill) %>
          <div>
            <strong>
              Owner : <%= @offer.user.first_name %> <%= @offer.user.last_name %>
            </strong>
            <div>
              <%= Date.today.year - @offer.user.birth_date.year %> years old
            </div>
          </div>
        </div>
      </div>
      <p class="text-justify"><%= @offer.description %></p>
    </div>
    <div class="col">
      <div class="calendar-card">
        <div class="d-flex align-items-center gap-1">
          <h4 id="price"><%= @offer.price %></h4><h4>$ </h4><h6>per day</h6>
        </div>
        <div class="mb-4">
          <%= render "offers/calendar_form" %>
        </div>
        <div id="result">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div>
        <h4>Reviews</h4>
      </div>
      <ul class="list-group list-group-flush">
        <% @offer.reviews.each do |r| %>
          <li class="list-group-item">
            <div>
              <% r.rating.to_i.times do %>
                <i class="fa-solid fa-star" style="color: gold"></i>
              <% end %>
              <% (5 - r.rating.to_i).times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            </div>
            <%= r.content %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-6">
      <%= render "offers/review_form" %>
    </div>
  </div>
</div>
